<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RU Core</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="/css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <br>
  <br>
  <br>
  <br>
  <br>
</head>

<body>

  <a href="https://github.com/mattweil/rutgers-rucore"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

  <div class="container">
    <div class="row">
      <div class="tweleve columns">
        <br>
        <center>
          <h1><b><span class="red"><font color="#ba0e28">RU</font></span> <font color = "black">Core</font></b></h1></center>

      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="tweleve columns">
        <center>
          <div style="background-color: #f7f7f7; ">
            <div class="inner12">
              <form method="post" action="">
                <div class="row">
                  <h5><font color='black'>To begin searching for classes, select the core requirements you would like satisfied.</font></h5>
                </div>
                <br>
                <font color="black">
                  <div class="row">
                    <div class="two columns">
                    <label>
                    <input type="checkbox" name='CC'>
                      <span class="label-body">CC</span>
                  </label>
                    </div>
                    <div class="two columns">
                      <label>
                    <input type="checkbox" name='HST'>
                      <span class="label-body">HST</span>
                  </label>
                    </div>
                    <div class="two columns">
                      <label>
                    <input type="checkbox" name='NS'>
                      <span class="label-body">NS</span>
                  </label>
                    </div>
                    <div class="two columns">
                      <label>
                    <input type="checkbox" name='WCr'>
                      <span class="label-body">WCr</span>
                  </label>
                    </div>
                    <div class="two columns">
                      <label>
                    <input type="checkbox" name='WCd'>
                      <span class="label-body">WCd</span>
                  </label>
                    </div>
                    <div class="two columns">
                      <label>
                    <input type="checkbox" name='AHp'>
                      <span class="label-body">AHp</span>
                  </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two columns">
                      <label>
                      <input type="checkbox" name='AHr'>
                        <span class="label-body">AHr</span>
                    </label>
                    </div>
                    <div class="two columns">
                      <label>
                      <input type="checkbox" name='AHo'>
                        <span class="label-body">AHo</span>
                    </label>
                    </div>
                    <div class="two columns">
                      <label>
                      <input type="checkbox" name='ITR'>
                        <span class="label-body">ITR</span>
                    </label>
                    </div>
                    <div class="two columns">
                      <label>
                      <input type="checkbox" name='QQ'>
                        <span class="label-body">QQ</span>
                    </label>
                    </div>
                    <div class="two columns">
                      <label>
                      <input type="checkbox" name='QR'>
                        <span class="label-body">QR</span>
                    </label>
                    </div>
                    <div class="two columns">
                      <label>
                      <input type="checkbox" name='SCL'>
                        <span class="label-body">SCL</span>
                    </label>
                    </div>
                    <input type="submit" value="Search" />
                  </div>
                </font>
            </div>
            </form>
          </div>
      </div>
      </center>
    </div>
  </div>
  </div>
  <center>
</body>
